
/*the css of shopping Box*/
.shopBox {
    margin: 0 12% !important;
}

.shopEachRow {
    padding: 0 !important;
}

.shopEachRowTitle {
    font-size: 2em;
    font-weight: 700;
}

.shopOneBox {
    cursor: pointer;
}

.shopOneBox:nth-child(1) {
    padding-right: 0;
}

.shopOneBox:nth-child(4) {
    padding-left: 0;
}

.sh_mainBox {
    border: 3px solid #d7d7d7;
}

.sh_mainPic {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #d7d7d7;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sh_descript {
    color: #a4a4a4;
    background-color: #f1f1f1;
    font-size: 1.2em;
    padding: 5px 0;
}

.sh_descriptRow {
    padding: 5px 20px;
}

.sh_title {
    font-weight: 600;
}

.sh_priceBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.priceIcons {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.priceText {
    margin-right: 10px;
}

.sh_ownerBox {
    font-size: 1.2em;
    font-weight: 500;
    height: 35px;
    padding: 5px 20px;
    color: white;
    background-color: #a1a1a1;
    border-right: 35px solid #04c582;
    /*border-right: 35px solid #f26c4f;*/
    display: flex;
    align-items: center;
}
