.header {
    height: 110px;
    background-color: #fe9210;
    border-bottom: 10px solid #f9f9f9;
    padding: 0 12%;
    position: relative;
}

.logoDiv {
    position: relative;
    width: 350px;
    height: 100px;
    cursor: pointer;
    z-index: 1000;
}

.logoPic {
    width: 100px;
    height: 125px;
    background-image: url(../images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 7%;
}

.logoText {
    width: 250px;
    height: 100px;
    background-image: url(../images/logoText.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 25%;
}

.myNav {
    position: absolute;
    left: 12%;
    bottom: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.myNavbar {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
}

/*the css of profle Icon*/
 .profileIconBox {
     padding: 3px;
     border: 1px solid #ffd568;
     border-radius: 50%;
     background-color: #ffd568;
 }
.profileIcon {
    width: 35px;
    height: 35px;
    background-image: url(../images/profile.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.profilePopUp {
    position: absolute;
    width: 150px;
    padding: 10px 15px;
    background-color: #f2f2f2;
    border: 5px solid #c5c5c5;
    border-radius: 7px;
    z-index: 1000000001 !important;
    margin-top: 20px;
    left: -5px;
    cursor: context-menu;
}
.rightArrowIcon {
    position: absolute;
    top: -20px;
    left: 10%;
    transform: rotate(180deg);
    font-size: 2.5em;
    color: #c5c5c5;
}
.profileRowPopUp {
    color: #c5c5c5;
    padding: 5px 0;
    border-bottom: 1.5px solid #c5c5c5;
    text-align: right;
}
.profilePopUpIconBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilePopUpIcon {
    width: 22px;
    height: 22px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.profileName{
    font-weight: 600;
    color: #404040 !important;
}
.coinIcon {
    background-image: url(../images/coin.png);
}
.starIcon {
    background-image: url(../images/star.png);
}
.profileLogoutBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    color: #404040;
    cursor: pointer;
}
.logoutIcon {
    width: 15px;
    height: 17px;
    background-image: url(../images/rightArrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.logoutText {
    font-size: 0.8em;
    font-weight: 500;
}
